.section{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 2%;
}

.slider{
    display: flex;
    list-style: none;
    padding: 2%;
}

.slider-items>img{
    overflow: hidden;
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
}

.slider-items>img:hover{
    position: relative;
    filter: brightness(1);
    scale: 1.2;
    transition: all 0.5s ease;
    z-index: 10;
}